footer
  .container.text-center
    p.pull-left © 2016 Company, Inc. All Rights Reserved
    
    ul.pull-right.list-inline
      li
        a.white(href='#') About Us
      li
        a.white(href='#') Contact
