extends layouthome

block content
  .text-center
    h1 PlayStore App
    p.lead Aggregate reviews from various social media sources
    hr
  .container
    .col-md-4
      h2 Integrations
      br
      .row(style='text-align: center;')
        .col-md-3
          h4  Youtube
        .col-md-3
          h4 Playstore
        .col-md-3
         // h4 Facebook
      .row
        .col-md-3
          a(href='https://fdgoogle.spritle.com')
            img.img-responsive(src='../images/youtube-256.png')
        .col-md-3
          img.img-responsive(src='../images/pstore.png')
        .col-md-3
          //img.img-responsive(src='../images/facebook-256.png')
      br

    .col-sm-2
    .col-sm-5
  
    

      

        
