extends ../layout

block content
  .page-header
    h3 Setup your account
  form.form-horizontal( action='/freshdesk/validatekey', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='apikey') API key
      .col-sm-7
        input.form-control(type='text', name='apikey', id='apikey', value=user.fd.apikey)
    .form-group
      label.col-sm-3.control-label(for='subdomain') SubDomain
      .col-sm-7
        input.form-control(type='text', name='subdomain', id='subdomain', value=user.fd.domain)
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-default(type='submit')
          | Add 
